body {
	margin: 0;
	width: 100vw;
	height: 100vh;
    box-sizing: border-box;
}

a  {
    text-decoration: none;
    color: black;
}
#nav {
	padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #929eaa;
    width: 100vw;
}
.nav-item {
    color: white;
    font-size: 1.4rem;
    margin-left: 1.5rem;
}
.f1{
    font-size: 2rem;
}

#container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#title{
   text-align: center;
   margin-block-end: 2.5rem;
}

#video{
    margin-left: auto;
    margin-right: auto;
}

#sideBar{
    background-color: #929eaa;
    width: 18vw;
    height: 93.28vh;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

img {
    width: 12vw;
    height: auto;
    border-radius: 0.5rem;
}
.preview{
    margin-block-start: 0.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-block-end: 1.5rem;
    border: 3px solid white;
    padding: 0.6rem 1.5rem;
    border-radius: 2.8rem;
    background-color: #c4c9cf;
}

.title-in-sidebar {
   font-size: 1.2rem;
   margin-block-end: 0.5rem;
   font-weight: 800;
   color: white;
}

.description {
    text-align: center;
    margin-block-start: 0;
    font-size: 0.8rem;
    max-width: 10rem;
    font-weight: 800;
    margin-block-end: 0;
}
